<template>
    <div class="">
        <div v-if="key" style="padding: 40px;text-align: center;">
            <h1 class="polaris_heading">Customer Empowerment Exchange</h1>
            <hr>
            <p style="font-size: 15px;">App installed</p>
        </div>
        <div class="Polaris-Card" v-else style="width: 500px;margin:auto;margin-top: 20px;">
            <div class="Polaris-Card__Section">
                <div class="Polaris-Labelled__LabelWrapper">
                    <div class="Polaris-Label"><label id="PolarisTextField2Label" for="PolarisTextField2"
                                                      class="Polaris-Label__Text">Email Signature</label></div>
                </div>
                <div class="Polaris-Connected">
                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                        <div class="Polaris-TextField Polaris-TextField--hasValue"><textarea id="PolarisTextField2" class="Polaris-TextField__Input" aria-labelledby="PolarisTextField2Label" aria-invalid="false" aria-multiline="false" v-model="form.email">{{form.email}}</textarea>
                            <div class="Polaris-TextField__Backdrop"></div>
                        </div>
                    </div>
                </div>

                <div class="Polaris-Labelled__LabelWrapper mt-10">
                    <div class="Polaris-Label">
                        <label id="smsfield" for="PolarisSMSField"
                               class="Polaris-Label__Text">SMS Signature
                        </label>
                    </div>
                </div>
                <div class="Polaris-Connected">
                    <div class="Polaris-Connected__Item Polaris-Connected__Item--primary">
                        <div class="Polaris-TextField Polaris-TextField--hasValue"><input id="PolarisSMSField"
                                                                                          class="Polaris-TextField__Input"
                                                                                          aria-labelledby="PolarisTextField2Label"
                                                                                          aria-invalid="false"
                                                                                          aria-multiline="false"
                                                                                          v-model="form.sms">
                            <div class="Polaris-TextField__Backdrop"></div>
                        </div>
                    </div>
                </div>

                <div
                    style="--top-bar-background:#00848e; --top-bar-background-lighter:#1d9ba4; --top-bar-color:#f9fafb; --p-frame-offset:0px;"
                    class="mt-10">
                    <button type="button" class="Polaris-Button Polaris-Button--primary" @click="sendForm()">
                        <span class="Polaris-Button__Content">
                            <span class="Polaris-Button__Text">Save</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</template>
<script>
    import helper from "../../helper";

    export default {
        data() {
            return {
                key: '',
                form: {
                    email: '',
                    sms: '',
                }
            }
        },
        methods: {
            async init() {
                helper.startLoading();
                let base = this;
                let url = 'dashboard?api=1';
                let method = 'get';
                await axios({
                    url: url,
                    method: method,
                }).then(function (res) {
                    base.key = res.data.data.key;
                    if( res.data.data.plan_id === null || res.data.data.plan_id === '' ){
                        base.$router.push({name: 'plan-pricing'});
                    }
                }).catch(function (err) {
                    helper.errorToast(err.response.data);
                }).finally(res => {
                    helper.stopLoading();
                });
            },
            async sendForm() {
                helper.startLoading();
                let base = this;
                await axios({
                    url: 'dashboard.store',
                    data: {
                        'data': base.form,
                    },
                    method: 'post',
                }).then(function (res) {
                    base.key = res.data.data.key;
                    base.$emit('update');
                })
                    .catch(function (err) {
                        helper.errorToast(err.response.data);
                    }).finally(res => {
                        helper.stopLoading();
                    });
            },
        },
        created() {
            this.init();
        }
    }
</script>
