<template>
    <div>
        <div>
            <div class="Polaris-Card" style="overflow: initial;z-index: 9999;">
                <div class="Polaris-Card__Section">
                    <div class="Polaris-Page-Header--separator user-guide">
                        <!--                    The Next steps to complete installation-->
                        <button class="accordion guide-product-title" >The Next steps to complete installation
                        </button>
                        <div class="panel">
                            <ul>
                                <li class="Polaris-Heading">About tutorial</li>
                                <p>
                                    After installing our CEX(Customer Empowerment Exchange) App, you'll receive a Welcome email with a link to our portal where you can configure the names of your customer service representatives(minimum 1 or maximum 2), optionally provide their pictures, also provide a quote, if possible, from them.
                                </p>
                                <img src="/images/installation-ss/install.png" class="customer-empowerment-install-img">
                                <p>
                                    Please keep the website portal address handy in case you want to make changes to names, pictures or quote on daily basis or when needed. The information you provide will be visible on Call-To-Action interface in real time to be used for customer interactions.
                                </p>
                                <p>
                                    For free trial, we provide potential customers access to information from Customer Service Representatives immediately and start onboarding existing customers in our loyalty based Certified Customers Community Program (CCCP). With this program, potential customers can gain access to trustworthy information from verified customers to help them make smart buying decisions. Therefor we ask you to send us an excel sheet or CSV file for the whole of last month with following fields:
                                    First Name, email address, Date of purchase, Product Name, Product Image.
                                </p>
                                <p>
                                    For Advanced and Premium subscriptions, we will onboard Brand Representatives based on number of brands you carry and on-board Subject Matter Experts with your consent based on product categories you carry in your webstore. Please send us a word document with the names of brands and product categories.
                                </p>
                            </ul>
                        </div>

                        <!--                    Plan & Pricing-->
                        <button class="accordion guide-product-title" >Plan & Pricing
                        </button>
                        <div class="panel">
                            <ul>
                                <li class="Polaris-Heading">About tutorial</li>
                                <p>
                                    Here, You can see plan details.
                                </p>
                                <li class="Polaris-Heading">See plan details.</li>
                                <p>- First, open customer empowerment app and click on Plan & Pricing button.
                                </p>
                                <img src="/images/installation-ss/plan/1.png" class="customer-empowerment-install-img">
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default{
        methods:{
            // Function to Show a Panel
            showPanel(elem) {
                this.hidePanels();
                var panel = elem.nextElementSibling;
                elem.classList.add("active");
                panel.style.maxHeight = panel.scrollHeight + "px";
            },
            hidePanels() {
                var acc = document.getElementsByClassName("accordion");
                var accPanel = document.querySelectorAll(".panel");
                for (let i = 0; i < accPanel.length; i++) {
                    accPanel[i].style.maxHeight = null;
                    acc[i].classList.remove("active");
                }
            }
        },
        mounted() {
            let base = this;
            var acc = document.getElementsByClassName("accordion");
            var i;
            for (i = 0; i < acc.length; i++) {
                acc[i].addEventListener("click", function () {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.maxHeight) {
                        base.hidePanels();
                    } else {
                        base.showPanel(this);
                    }
                });
            }
        }
    }
</script>
