<template>
    <div class="Polaris-Modal-Dialog__Container popup-customer-group" id="plan-model"
         style="display: none;">
        <div>
            <div class="Polaris-Modal-Dialog__Modal" role="dialog" aria-labelledby="modal-header15" tabindex="-1"
                 style="max-height: max-content;">
                <div class="Polaris-Modal-Header">
                    <div id="modal-header15" class="Polaris-Modal-Header__Title">
                        <h2 class="Polaris-DisplayText Polaris-DisplayText--sizeSmall text-capitalize">Select Plan</h2>
                    </div>
                    <button class="Polaris-Modal-CloseButton" aria-label="Close" @click="closeModel()"><span
                        class="Polaris-Icon Polaris-Icon--colorInkLighter Polaris-Icon--isColored"><svg
                        viewBox="0 0 20 20" class="Polaris-Icon__Svg" focusable="false" aria-hidden="true">
                        <path
                            d="M11.414 10l6.293-6.293a.999.999 0 1 0-1.414-1.414L10 8.586 3.707 2.293a.999.999 0 1 0-1.414 1.414L8.586 10l-6.293 6.293a.999.999 0 1 0 1.414 1.414L10 11.414l6.293 6.293a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L11.414 10z"
                            fill-rule="evenodd"></path>
                    </svg></span></button>
                </div>
                <form name="customer_broup" id="find-table" style="margin-bottom: 0px;">
                    <div class="Polaris-Modal__BodyWrapper">
                        <div class="Polaris-Modal__Body Polaris-Scrollable Polaris-Scrollable--vertical"
                             data-polaris-scrollable="true">
                            <div class="Polaris-Card__Section Polaris-Page-Header--separator">
                                <div class="Polaris-FormLayout">
                                    <div class="Polaris-FormLayout__Item">
                                        <div class="Polaris-Stack Polaris-Stack--vertical">
                                            <div class="Polaris-Stack__Item">
                                                <div><label class="Polaris-Choice" for="disabled"><span class="Polaris-Choice__Control"><span class="Polaris-RadioButton"><input id="disabled" name="accounts" type="radio" @v-model=plan_type value="0" class="Polaris-RadioButton__Input" aria-describedby="disabledHelpText" :checked="plan_type === 0"><span class="Polaris-RadioButton__Backdrop"></span><span class="Polaris-RadioButton__Icon"></span></span></span><span class="Polaris-Choice__Label">Monthly</span></label>
                                                    <div class="Polaris-Choice__Descriptions">
                                                        <div class="Polaris-Choice__HelpText" id="disabledHelpText">${{Mprice}}/month</div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="Polaris-Stack__Item">
                                                <div><label class="Polaris-Choice" for="optional"><span class="Polaris-Choice__Control"><span class="Polaris-RadioButton"><input id="optional" name="accounts" type="radio" v-model=plan_type value="1" :checked="plan_type === 1" class="Polaris-RadioButton__Input" aria-describedby="optionalHelpText"><span class="Polaris-RadioButton__Backdrop"></span><span class="Polaris-RadioButton__Icon"></span></span></span><span class="Polaris-Choice__Label">Yearly</span></label>
                                                    <div class="Polaris-Choice__Descriptions">
                                                        <div class="Polaris-Choice__HelpText" id="optionalHelpText">${{Yprice}}/year</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="Polaris-Modal-Footer">
                        <div class="Polaris-Modal-Footer__FooterContent">
                            <div class="Polaris-Stack Polaris-Stack--alignmentCenter">
                                <div class="Polaris-Stack__Item">
                                    <div class="Polaris-ButtonGroup">
                                        <div class="Polaris-ButtonGroup__Item">
                                            <button type="button" class="Polaris-Button" id="close_group_popup"
                                                    @click="closeModel()"><span class="Polaris-Button__Content"><span
                                                class="Polaris-Button__Text">Cancel</span></span></button>
                                        </div>
                                        <div class="Polaris-ButtonGroup__Item">
                                            <button
                                                type="button" class="Polaris-Button Polaris-Button--primary"
                                                id="group_form" @click="changePlan()"  v-bind:class="{'Polaris-Button--disabled' : ( is_disabled )}"><span
                                                class="Polaris-Button__Content"><span
                                                class="Polaris-Button__Text">Add</span></span></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>
<script>
    import helper from "../../helper";

    var modal = "";
    export default {
        name: 'PlanModel',
        props: ['showModel', 'plan'],
        data() {
            return {
                Mprice: '',
                Yprice: '',
                plan_type: 0,
                new_plan: '',
                is_disabled: false,
            }
        },
        methods: {
            closeModel() {
                this.$emit('update', false);
            },
            setValue(new_plan){
                this.new_plan = new_plan;
                if(new_plan === 1){
                    this.Mprice = this.plan[0].price;
                    this.Yprice = this.plan[1].price;
                }else if( new_plan === 3 ){
                    this.Mprice = this.plan[2].price;
                    this.Yprice = this.plan[3].price;
                }else{
                    this.Mprice = this.plan[4].price;
                    this.Yprice = this.plan[5].price;
                }
            },
            async changePlan(){
                let base = this;
                base.is_disabled = true;
                await axios({
                    url: 'change-plan',
                    data: {
                        'price': (base.plan_type === 0) ? base.Mprice : base.Yprice,
                        'plan': base.plan_type,
                        'new_plan':  base.new_plan
                    },
                    method: 'post',
                }).then(function (res) {
                   let data = res.data.data.appSubscriptionCreate;
                    window.open(data.confirmationUrl, '_parent');
                })
                    .catch(function (err) {
                        helper.errorToast(err.response.data);
                    }).finally(res => {
                        base.is_disabled = false;
                        helper.stopLoading();
                    });
            },
        },
        watch: {
            showModel(newVal, oldVal) {
                if (newVal === true) {
                    modal.style.display = "block";
                } else {
                    modal.style.display = "none";
                }
            },
        },
        mounted() {
            modal = document.getElementById("plan-model");
        },
    }
</script>
