<template>
    <div class="d-flex justify-content-between" style="padding: 20px;">
        <div class="Polaris-Card" style="width: 33%;margin: 20px;">
            <div class="Polaris-Card__Section">
                <p class="heading">BASIC</p>
                <p class="heading-sub">${{plan[0].price}}/month</p>
                <div class="plan-detail">
                    <p class="plan">{{plan[0].trial_days}}-day free trial</p>
                    <p class="plan"> - 250 Consumer Queries Monthly</p>
                    <p class="plan"> - CSR and VC Program</p>
                    <p class="plan"> - Access to Custom Dashboard</p>
                    <p class="plan"> - Quarently Analytics Report</p>
                    <p class="plan"> - SEO Optimization</p>
                </div>
                <p type="button" v-if="plan_id === 1 || plan_id === 2" class="Polaris-Button" style="width: 100%;cursor: auto;">
                    <span class="Polaris-Button__Content">
                        <span class="Polaris-Button__Text">Current Plan</span>
                    </span>
                </p>
                <button  v-else type="button" class="Polaris-Button Polaris-Button--primary" style="width: 100%;" @click="openModel(1)" v-bind:class="{'Polaris-Button--disabled' : ( is_disabled )}">
                        <span class="Polaris-Button__Content">
                            <span class="Polaris-Button__Text">Select Plan</span>
                        </span>
                </button>
            </div>
        </div>
        <div class="Polaris-Card" style="width: 33%;margin: 20px;">
            <div class="Polaris-Card__Section">
                <p class="heading">ADVANCED</p>
                <p class="heading-sub">${{plan[2].price}}/month</p>
                <div class="plan-detail">
                    <p class="plan">{{plan[2].trial_days}}-day free trial</p>
                    <p class="plan"> - 500 Consumer Queries Monthly</p>
                    <p class="plan"> - CSR and VC Program</p>
                    <p class="plan"> - Access to Custom Dashboard</p>
                    <p class="plan"> - BiMonthly Analytics Report</p>
                    <p class="plan"> - SEO Optimization</p>
                </div>
                <p type="button" v-if="plan_id === 3 || plan_id === 4" class="Polaris-Button" style="width: 100%;cursor: auto;">
                    <span class="Polaris-Button__Content">
                        <span class="Polaris-Button__Text">Current Plan</span>
                    </span>
                </p>
                <button v-else type="button" class="Polaris-Button Polaris-Button--primary" style="width: 100%;"  @click="openModel(3)" v-bind:class="{'Polaris-Button--disabled' : ( is_disabled )}">
                        <span class="Polaris-Button__Content">
                            <span class="Polaris-Button__Text">Select Plan</span>
                        </span>
                </button>
            </div>
        </div>
        <div class="Polaris-Card" style="width: 33%;margin: 20px;">
            <div class="Polaris-Card__Section">
                <p class="heading">PREMIUM</p>
                <p class="heading-sub">${{plan[4].price}}/month</p>
                <div class="plan-detail">
                    <p class="plan">{{plan[4].trial_days}}-day free trial</p>
                    <p class="plan"> - 2000 Consumer Queries Monthly</p>
                    <p class="plan"> - CSR, VC, Expertand Store Visit Program</p>
                    <p class="plan"> - Access to Custom Dashboard</p>
                    <p class="plan"> - Monthly Analytics Report</p>
                    <p class="plan"> - SEO Optimization</p>
                </div>
                <p type="button" v-if="plan_id === 5 || plan_id === 6" class="Polaris-Button" style="width: 100%;cursor: auto;">
                    <span class="Polaris-Button__Content">
                        <span class="Polaris-Button__Text">Current Plan</span>
                    </span>
                </p>
                <button v-else type="button" class="Polaris-Button Polaris-Button--primary" style="width: 100%;"  @click="openModel(5)" v-bind:class="{'Polaris-Button--disabled' : ( is_disabled )}">
                        <span class="Polaris-Button__Content">
                            <span class="Polaris-Button__Text">Select Plan</span>
                        </span>
                </button>
            </div>
        </div>

        <plan-model ref="planModel" :show-model.sync="showModel" :plan="plan"
                        @update="closeModel"></plan-model>
    </div>
</template>

<script>
    import helper from "../../helper";
    import PlanModel from "./PlanModel";

    export default{
        components:{
            PlanModel
        },
        data(){
            return{
                plan_id: '',
                new_plan_id: '',
                showModel: false,
                is_disabled: false,
                plan:{

                }
            }
        },
        methods:{
            closeModel(message, data) {
                this.showModel = message;
                this.is_disabled = false;
            },
            openModel(plan){
                  this.is_disabled = true;
                  this.new_plan_id = plan;
                  this.showModel = true;
                  this.$refs.planModel.setValue(plan);
            },
            async getPlan(){
                let base = this;
                let url = 'get-plan';
                let method = 'get';
                await axios({
                    url: url,
                    method: method,
                }).then(function (res) {
                    base.plan_id = res.data.data.plan_id;
                    base.plan = res.data.data.plan;
                    console.log(base.plan);
                }).catch(function (err) {
                    helper.errorToast(err.response.data);
                }).finally(res => {
                    helper.stopLoading();
                });
            }
        },
        created() {
            this.getPlan();
        }
    }
</script>
