// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

p{
    font-size: 15px;
}
.mt-10 {
    margin-top: 10px;
}
.mb-10 {
    margin-bottom: 10px;
}
.mr-20 {
    margin-right: 20px;
}
.heading{
    font-size: 2rem;
    font-weight: 700;
    color: gray;
}
.heading-sub{
    font-size: 2.5rem;
}
.plan{
    font-size: 1.5rem;
}

.customer-empowerment-install-img{
    width: 90%;
}
.customer-empowerment-install-text{
    margin-top: 1rem;
}
a{
    color: #637381;
}
a:hover{
    text-decoration: none;
    color: #637381;
}
.back-dashboard {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 2rem;
    text-transform: none;
    letter-spacing: normal;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
    padding: 0.9rem 0.8rem 0rem 0.8rem;
    background: none;
    border: none;
    font-size: inherit;
    line-height: inherit;
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-height: 3.6rem;
    margin: -0.4rem -0.8rem -0.4rem -0.4rem;
    /* padding: .8rem .8rem; */
    color: #637381;
    text-decoration: none;
}
.back-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    z-index: 20;
    font-size: 14px;
}
.back-arrow {
    height: 1.5rem;
    width: 1.2rem;
    margin: -1rem 0 -1rem -0.8rem;
    color: #637381;
}
.Polaris-Page__Content{
    margin:0.5rem 0rem 0.5rem 0rem;
}
body{
    background-color: inherit;
}
.btn-link{
    color: #000000;
}
.btn-link:hover{
    text-decoration: none;
    color: #000000;
}
.card-header{
    background-color: #ffffff;
}
.user-guide .accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.not-found {
    margin-top: 20px;
}

.user-guide .active, .accordion:hover {
    background-color: #ccc;
}

.user-guide .accordion:after {
    content: '\002B';
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.user-guide .active:after {
    content: "\2212";
}

.user-guide .panel {
    overflow: hidden;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    max-height: 0;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    transition: max-height 0.2s ease-out;
}
.from-input-group .current-color {
    width: 36px;
    height: 100%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.current-color {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #000;
    cursor: pointer;
}
.from-input-group{
    display: flex;
    border-radius: 3px;
    box-shadow: inset 0 1px 0 0 rgba(99, 115, 129, 0.05);
    overflow: hidden;
}
.from-input-group .form-contorl {
    width: 100%;
    min-height: 3.6rem;
    margin: 0;
    padding: 0.5rem 1.2rem;
    background: none;
    border: 0.1rem solid #c4cdd5;
}
.clr-z-index{
    z-index: 999;
}

.vc-chrome{
    left: 0 !important;
}
//toggle switch start
.switch > .toggle {
    width: 60px;
    height: 30px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #8a8a8a;
    -webkit-transition: .4s;
    transition: .4s;
}

.toggle:before {
    position: absolute;
    content: "";
    height: 23px;
    width: 23px;
    left: 4px;
    bottom: 4px;
    background-color: #fff;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .toggle {
    background-color: #bce4b5;
}

input:focus + .toggle {
    box-shadow: 0 0 1px #bce4b5;
}

input:checked + .toggle:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/* Rounded sliders */
.toggle.round {
    border-radius: 34px;
}

.toggle.round:before {
    border-radius: 50%;
}
input:checked + .toggle:before {
    transform: translateX(26px);
    background-color: #54b744;
}
//toggle switch end
.Polaris-Page__Content .Polaris-Card:nth-child(5) {
    z-index: 7 !important;
}
.Polaris-Page__Content .Polaris-Card:nth-child(4) {
    z-index: 8 !important;
}
.Polaris-Page__Content .Polaris-Card:nth-child(3) {
    z-index: 9 !important;
}
