<template>
    <div>
        <div class="">
            <menus v-if="key && plan_id"></menus>
            <router-view @update="getData"></router-view>
        </div>
    </div>
</template>

<script>
    import Menus from './menu';
    import helper from "../../helper";

    export default {
        components: {
            Menus,
        },
        data() {
            return {
                key: '',
            }
        },
        methods: {
            async getData(){
              console.log('1212123');
                let base = this;
                let url = 'dashboard?api=1';
                let method = 'get';
                await axios({
                    url: url,
                    method: method,
                }).then(function (res) {
                   base.key = res.data.data.key;
                   base.plan_id = res.data.data.plan_id;
                }).catch(function (err) {
                    helper.errorToast(err.response.data);
                })
            }
        },
        created(){
            this.getData();
        }
    };
</script>
